<%- include('./base/header.ejs') %>
    <div class="container">
        <div class="row">
            <table class="table-text-center " >
                <h3 class="text-center "> Student List</h3>
                <thead class="border 2">
                    <tr class="border 2">
                        <th>Rollno</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>father Name</th>
                        <th>Aadhar Card</th>
                        <th>mobileNo</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <% students.forEach((student)=> { %>
                    <tr class=" border 2">
                        <td class="border 2">
                            <%=student.rollno %>
                        </td>
                        <td class="border 2">
                            <%=student.firstName %>
                        </td>
                        <td class="border 2">
                            <%=student.lastName %>
                        </td>
                        <td class="border 2">
                            <%=student.fatherName %>
                        </td>
                        <td class="border 2">
                            <%=student.adharCardNo %>
                        </td>
                        <td class="border 2">
                            <%=student.mobileNo %>
                        </td>
                        <td class="border 2"><a href="/edit/student/page/<%= student._id %>" class="btn btn-warning w-75">Edit</a></td>
                        <td class="border 2"><a href="/delete/student/page/<%= student._id %>" class="btn btn-danger w-75">Delete</a></td>
                    </tr>

                    <% }) %>
            </table>
        </div>
    </div>
    <%- include('./base/footer.ejs') %>